::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212a37;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #161b24;
}

.content {
  background-color: #f1f1f1;
  height: 100vh;
}

.members {
  height: 19.2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5em 3em 0.5em 3em;
}

hr {
    width:91%; 
    background-color:  #212a37;
}
.team {
  display: block;
  width: 100%;
  text-align: center;
  font-size: xx-large;
}

.members-list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.member {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin: 0.7em;
  background-color: #212a37;
  color: white;
}

.listTask {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 1em;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.form-group {
    margin-top: 5%;
    align-items: center;
    width:50%;
    margin-left: 25%;
}

.form-control-lg {
    text-align: center;
    width : 100%;
    margin-bottom: 5%;

}

.addTask {
    margin-left: 45%;
    background-color: #1BF2BF;
}
