{% extends 'base.html' %}
{% block extra_headers %}
{% load static %}
  <link rel="stylesheet" href="{% static './chat/chat.css' %}">
{% endblock %}
{% block body %}
    <div class="content">
      <div class="members">
        <h1 class="team">{{team.name}}</h1>
        <div class="members-list">
          {% for member in member_list %}
          <div class="member">{{member.username|slice:"0:1"}}</div>
          {% endfor %}
        </div>
        
      </div>
      <div class="msg-container">
      <div class="messages" id="messages"></div>
      <div id="anchor"> </div>
      </div>
      <form class="insert-message" action="{% url 'chat:add' id=team.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="team_id" value="{{team.id}}">
        <input type="text" id="input-box" class="input-box" name="messages">
        <input type="submit" class="submit" onsubmit="addMessage()">
      </form>
    </div>
    <script src="{% static './chat/index.js'%}"></script>
{% endblock %}