{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}

  <link rel="stylesheet" href="{% static './task/task.css' %}">
{% endblock %}

{% block body %}
    <div class="content">
      <div class="members">
        <h1 class="team">{{team.name}}</h1>
        <div class="members-list">
          {% for member in member_list %}
          <div class="member">{{member.username|slice:"0:1"}}</div>
          {% endfor %}
        </div>
      </div>
  <hr>
  <div class="container">
    <div class ="form">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group" >
            {{form.task_name}}
            <br>
            Description
            <br>
            {{form.description}}
            <br>
            Assign Member
            <br>
            {{form.member}}
        </div>
        <input href="{% url 'task:add_task' id=team_id %}" class="btn btn-secondary addTask" type="submit" value="Add Task">
      </form>
  </div>
{% endblock %}