{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'account/acc/acco.css' %}">

    <title>login</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
          <div class="signup-content">
              <div class="login-img">
                  <img id="a" src="{%static 'account/login/Group 13.svg'%}" alt="">
                  <img id="rr" src="{%static 'account/login/Group 14.svg'%}" alt="">
                  <img  id="b"src="{%static 'account/login/Group 15.svg'%}" alt="">
                  <img  id="c"src="{%static 'account/login/Group 16.svg'%}" alt="">
              </div>
              <div class="signup-form">
                <form method="POST" class="register-form">
                  {%csrf_token%}
                  <div class="form-group">
                    <img id="logo" src="{%static 'account/login/ROMUSHA.svg'%}" alt="">
                    {% for message in messages %}
                      {% if message.tags == 'success' %}
                        <div style="color:green;" role="alert">
                          {{ message }}
                        </div>
                      {% endif %}
                      {% if message.tags == 'error' %}
                        <div style="color:red;" role="alert">
                          {{ message }}
                        </div>
                      {% endif %}
                    {% endfor %}
                    <label for="name">Username</label>
                    <input name = "username" type="text"  placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="name">Password</label>
                      <input name ="password" type="password" placeholder="">
                  </div>
                  <div class="form-submit">
                    <input type="submit" value="Login" class="submit"/>
                  </div>
                  <div class="form-submit" style="margin:0;">
                    <a id="lo" href="{% url 'acc:register'%}">Sign up</a>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>