$headerHeight: 10em;
$borderRadius: .5em;
$mobileWidth: 500px;

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 1em;
  overflow-y: scroll;

  .scroll-container {
    height: max-content;
    padding-bottom: 3em;
  }

  .top {
    flex: 0 1 10em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: $headerHeight;
    width: 100%;

    border-bottom: 2px solid black;

    h1.header {
      color: black;
      font-size: 2em;
      text-align: center;
      margin-bottom: 1em;
      font-weight: 800;
    }
  }

  .bottom {
    flex: 0 1 auto;
    width: 100%;

    display: flex;
    justify-content: center;

    .illustrations {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: max-content;
      margin-right: 2em;

      img {
        height: 6em;
        width: auto;
        margin: 1em 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        margin-bottom: .2em;
        font-size: 1em;
      }

      .form-input {
        border: 1px solid #212A37;
        width: 25em;
        height: 3em;
        margin-bottom: 1em;
        border-radius: $borderRadius;
      }

      button {
        border: none;
        outline: none;

        margin-top: 1em;

        &:hover {
          opacity: .6;
        }

        border-radius: $borderRadius;
        background: #3EEBB7;
        padding: .5em;
        display: inline-block;

        font-size: 1em;
        color: black;
        text-decoration: none;

        cursor: pointer;
      }
    }
  }

  .select-members {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: grey;
      border-radius: 10px;
    }

    border: 1px solid #212A37;
    width: 25em;
    margin-bottom: 1em;
    border-radius: $borderRadius;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 10em;

    background: white;

    .select-items {
      margin: .2em 0;

      input {
        width: min-content;
        height: 1em;
        margin: 0 1em 0 0;
      }

      h2 {
        font-size: 1em;
      }

      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 800px) {
  .illustrations {
    display: none !important;
  }
}

@media (max-width: $mobileWidth) {
  main {
    padding: 1em;

    .top {
      height: min-content;
    }

    .bottom {
      form {
        width: 100%;

        .form-input {
          width: 100%;
        }

        .select-members {
          width: 100%;
        }
      }
    }
  }
}