h1.title {
  color: #212A37;
  font-size: 2em;
  margin-top: 1em;
}

main.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

main.dashboard .top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10em;
          flex: 0 1 10em;
}

main.dashboard .top #create-team-btn {
  border-radius: 0.5em;
  background: #3EEBB7;
  padding: .5em;
  display: inline-block;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main.dashboard .top #create-team-btn:hover {
  opacity: .6;
}

main.dashboard .bottom {
  margin-top: 2em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #212A37;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

main.dashboard .bottom::-webkit-scrollbar {
  width: 10px;
}

main.dashboard .bottom::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

main.dashboard .bottom .scroll-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main.dashboard .bottom .owned-teams, main.dashboard .bottom .other-teams {
  margin-bottom: 1em;
}

main.dashboard .bottom .owned-teams h5, main.dashboard .bottom .other-teams h5 {
  padding: .5em;
}

main.dashboard .bottom .team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main.dashboard .bottom .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
  background: white;
  padding: 1em;
  width: 20em;
  height: 10em;
  margin: .5em;
  border-radius: 0.5em;
}

main.dashboard .bottom .team:hover {
  opacity: .9;
}

main.dashboard .bottom .team .team-name {
  font-size: 1.5em;
  color: #212A37;
}

main.dashboard .bottom .team .team-desc {
  font-size: 1em;
  color: #212A37;
}

main.dashboard .bottom .team .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

main.dashboard .bottom .team .members::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

main.dashboard .bottom .team .members .member-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  width: 3em;
  background: #212A37;
  border-radius: 50%;
  margin: 0 .2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main.dashboard .bottom .team .members .member-item h6 {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}

@media (max-width: 500px) {
  main.dashboard {
    padding: 0;
  }
  main.dashboard .top {
    padding: .5em;
  }
  main.dashboard .bottom {
    margin-top: .5em;
  }
  main.dashboard .bottom::-webkit-scrollbar {
    display: none;
  }
  main.dashboard .bottom .scroll-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.dashboard .bottom .team {
    width: 100vw;
  }
}
/*# sourceMappingURL=team.css.map */