body {
  font-family: Montserrat;
}

/* @extend display-flex; */
display-flex, .signup-content,  i {
  display: flex;
  display: -webkit-flex;
}

img {
  max-width: 70vw;
  margin-left: 30px;
  height: auto;
}


h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-size: 40px;
  margin-bottom: 32px;
  margin-left: 100px;
  text-align: center;
}

#rr{
  margin-bottom: 65px;
  margin-top: -70px;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  background:#E5E5E5;
  padding: 90px 0;
}

.container {
  width: 1400px;
  position: relative;
  margin: 0 auto;
  }

.signup-img, .signup-form{
  width: 50%;
}

.login-img{
  width: 45%;
  margin-left: 150px;
}

.signup-img {
  margin-bottom: -7px;
}

.register-form {
  padding: 30px 100px 30px 70px;
}

#p{
  width: 50%;
}

#logo{
  width: 80%;
  margin-left: 50px;
  margin-bottom: 50px;
}

form-group {
    width: 50%;
    padding: 0 15px;
}

.form-group {
  margin-bottom: 50px;
  position: relative;
}

input {
  display: block;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 11px 20px;
  box-sizing: border-box;
  font-weight: 500;
  border: 1px solid #212A37;
  border-radius: 7px;
  font-size: medium;
}

label {
  font-size: large;
  font-weight: 500;
  text-align: center;
  display: block;
}

.form-submit {
  text-align: center;
  margin-bottom: 2em;
}

.submit {
  background-color: #3EEBB7;
  color: white;
  width: 140px;
  height: 40px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;

}

#lo{
  border: 3px solid #3EEBB7;
  color: black;
  width: 130px;
  /* height: 20px; */
  height: min-content;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 7px;
}


@media screen and (max-width: 992px) {
  .login-img {
    display: none;
  }

  .container, .login-img {
    width: calc(100% - 40px);
    max-width: 100%;
  }

  .signup-content , .login-img {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin-left: 0px;
  }

  .signup-img, .signup-form , .login-img {
    width: 100%;
  }

  #logo{
    margin-left: 30px;
  }
}

@media only screen and (max-device-width: 500px) {
  .signup-content ,#reg{
    margin-left: 0px;
  }

  #logo{
    width: 200px;
    margin-left: 10px;}

  .signup-img, .login-img {
    display: none !important;
  }

  .container, .signup-form {
    width: 100%;

  }

}