{% extends 'base.html' %}
{% block extra_headers %}
  <link rel="stylesheet" href="/static/team/team.css">
{% endblock %}
{% block body %}
<main class="dashboard">
  <div class="top">
    <a href="{% url 'create-team' %}" id="create-team-btn">Create Team</a>
    <h1 class="title">My Teams</h1>
  </div>
  <div class="bottom">
    <div class="scroll-container">

      <!-- List of owned teams -->
      <div class="owned-teams">
        <h5>Teams I own</h5>
        {% if user.owned_teams.all|length == 0 %}
        <div class="alert alert-primary" role="alert">
          You don't own any teams
        </div>
        {% endif %}
        <div class="team-container">
          {% for team in user.owned_teams.all %}
            <a class="team" href="{% url 'manager:manager' team.pk %}">
              <div>
                <h1 class="team-name">{{ team.name }}</h1>
                <p class="team-desc">{{ team.description }}</p>
              </div>

                <div class="members">
                  {% for member in team.members.all %}
                    <div class="member-item">
                      <h6>{{ member.username|slice:"0:1" }}</h6>
                    </div>
                  {% endfor %}
                </div>
            </a>
          {% endfor %}
        </div>
      </div>

      <!-- List of non-owned teams -->
      <div class="other-teams">
        <h5>Teams I'm a member of</h5>
        {% if user.team_set.all|length == 0 %}
        <div class="alert alert-primary" role="alert">
          You aren't a member of any team
        </div>
        {% endif %}
        <div class="team-container">
          {% for team in user.team_set.all %}
            <a class="team" href="{% url 'team:employee' team.pk %}">
              <div>
                <h1 class="team-name">{{ team.name }}</h1>
                <p class="team-desc">{{ team.description }}</p>
              </div>

              <div class="members">
                {% for member in team.members.all %}
                  <div class="member-item">
                    <h6>{{ member.username|slice:"0:1" }}</h6>
                  </div>
                {% endfor %}
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}