body {
  background: #E5E5E5;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

div.root {
  position: static;
  height: 100vh;
  width: calc(100vw - 14em);
  overflow: hidden;
}

@media (max-width: 500px) {
  div.root {
    width: 100vw;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: max-width .2s;
  transition: max-width .2s;
  background: #212A37;
  position: static;
  z-index: 20;
  left: 0;
  top: 0;
  bottom: 0;
  width: 14em;
  height: 100vh;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar.show {
  max-width: 1000px;
  -webkit-transition: max-width .2s;
  transition: max-width .2s;
}

.sidebar #close-container {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  width: 100%;
}

.sidebar #close-container #close-btn {
  width: auto;
  height: 1em;
  cursor: pointer;
}

@media (max-width: 500px) {
  .sidebar {
    max-width: 0;
    width: 100vw;
    position: fixed;
  }
  .sidebar #close-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sidebar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5em 1em;
  width: 100%;
  height: 10em;
  border-bottom: 2px solid white;
}

.sidebar .header .user-name {
  font-size: 1em;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-top: 1em;
}

.sidebar .header .user-initial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  width: 3em;
  background: white;
  border-radius: 50%;
}

.sidebar .header .user-initial h6 {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
}

.sidebar .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.sidebar .item-container select.item {
  background: #212A37;
  outline: none;
  border: none;
}

.sidebar .item-container .item {
  font-size: 1em;
  color: white;
  text-align: center;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin: 1em 0;
  padding: .2em 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar .item-container .item:hover {
  background: white;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 4em;
}

.sidebar .footer a.logout-btn {
  width: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  padding: .4em;
  border-radius: 0.5em;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.sidebar .footer a.logout-btn:hover {
  opacity: .6;
}

.sidebar .chat-head:hover svg {
  fill: black;
}

.sidebar .chat-head svg {
  fill: white;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.sidebar .chat-head svg.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.sidebar .chat-dropdown {
  max-height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: max-height .2s;
  transition: max-height .2s;
}

.sidebar .chat-dropdown a {
  color: white;
}

.sidebar .chat-dropdown.show {
  max-height: 1000px;
  -webkit-transition: max-height .2s;
  transition: max-height .2s;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  position: static;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

nav .burger {
  width: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

nav .burger div {
  width: 100%;
  border: 1px solid #212A37;
  margin: 3px 0;
}

@media (min-width: 500px) {
  nav {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */