$borderRadius: .5em;
$mobileWidth: 500px;
$headerHeight: 10em;

body {
  background:#E5E5E5;
  font-family: 'Montserrat';
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

div.root {
  position: static;
  height: 100vh;
  width: calc(100vw - 14em);
  overflow: hidden;

  @media (max-width: $mobileWidth) {
    width: 100vw;
  }
}

.sidebar {
  &.show {
    max-width: 1000px;
    transition: max-width .2s;
  }

  #close-container {
    display: none;
    justify-content: flex-end;
    padding: 1em;
    width: 100%;

    #close-btn {
      width: auto;
      height: 1em;
      cursor: pointer;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: max-width .2s;

  background: #212A37;
  position: static;
  z-index: 20;
  left: 0;
  top: 0;
  bottom: 0;
  width: 14em;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  @media (max-width: $mobileWidth) {
    max-width: 0;
    width: 100vw;
    position: fixed;

    #close-container {
      display: flex;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    padding: 1.5em 1em;
    width: 100%;
    height: $headerHeight;
    border-bottom: 2px solid white;

    .user-name {
      font-size: 1em;
      color: white;
      font-weight: 500;
      text-align: center;

      margin-top: 1em;
    }

    .user-initial {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 3em;
      width: 3em;
      background: white;
      border-radius: 50%;

      h6 {
        font-size: 1.5em;
        font-weight: 500;
        color: black;
      }
    }
  }

  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em 0;

    select.item {
      background: #212A37;
      outline: none;
      border: none;
    }

    .item {
      font-size: 1em;
      color: white;
      text-align: center;
      width: 100%;
      text-decoration: none;
      cursor: pointer;

      margin: 1em 0;
      padding: .2em 0;

      transition: all .2s;

      &:hover {
        background: white;
        color: black;
        transition: all .2s;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    padding-bottom: 4em;

    a.logout-btn {
      width: 6em;

      display: flex;
      align-items: center;
      justify-content: center;

      background: white;
      padding: .4em;
      border-radius: $borderRadius;

      text-decoration: none;
      color: black;
      font-size: 1em;

      &:hover {
        opacity: .6;
      }
    }
  }

  .chat-head {
    &:hover {
      svg {
        fill: black;
      }
    }

    svg {
      &.rotate {
        transform: rotate(180deg);
        transition: transform .2s;
      }

      fill:white;
      width: 1em;
      height: 1em;
      margin-left: 1em;
      transition: transform .2s;
    }
  }

  .chat-dropdown {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height .2s;

    a {
      color: white;
    }

    &.show {
      max-height: 1000px;
      transition: max-height .2s;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  height: 2em;

  position: static;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;

  padding: 1em;

  .burger {
    width: 1.5em;
    box-sizing: border-box;
    cursor: pointer;

    div {
      width: 100%;
      border: 1px solid #212A37;
      margin: 3px 0;
    }
  }

  @media (min-width: $mobileWidth) {
    display: none;
  }
}